{% extends "includes/layout.html" %}

{% block title %}Account Settings{% endblock title %}

{% block page_name %}
Account Settings
{% endblock page_name %}

{% block content %}
{% from "includes/formhelper.html" import render_field %}
{% if setting_type and form.errors %}
	{% for field_name, field_errors in form.errors|dictsort if field_errors %}
		{% for error in field_errors %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{ form[field_name].label }}: {{ error }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
	{% endfor %}
{% endif %}
<div class="container pt-4">
	<div class="row">
		<div class="col-sm-3">
			<a href='{{ url_for("account_views.account_settings", setting_type="account") }}' class="btn 
			{% if not setting_type or setting_type == 'password' %}
			btn-secondary
			{% else %}
			btn-info	
			{% endif %}
			">Change Username</a>
			<hr/>
			<a href='{{ url_for("account_views.account_settings", setting_type="password") }}' class="btn 
			{% if not setting_type or setting_type == 'account' %}
			btn-secondary
			{% else %}
			btn-info	
			{% endif %}">Change Password</a>
		</div>
		
		<div class="col-sm-8 offset-1">
			{% if setting_type == 'account' %}
			<form action="{{ url_for('account_views.account_settings', setting_type='account') }}" method="post">
				{{ form.csrf_token }}
				<div class="form-group">
					{{ render_field(form.username, class_="form-control", value=user.username) }}
				</div>
				<br>
				<div class="form-group">Confirm by entering your current
					{{ render_field(form.password, class_="form-control") }}
				</div>
				<br>
				<div>
					<input type="submit" class="btn btn-primary" value="Update Information">
				</div>
			</form>
			{% elif setting_type == 'password' %}
			<form action="{{ url_for('account_views.account_settings', setting_type='password') }}" method="post">
				{{ form.csrf_token }}
				<div class="form-group form-box">
					{{ render_field(form.current_password, class_="form-control") }}
				</div>
				<div class="form-group form-box">
					{{ render_field(form.new_password, class_="form-control") }}
				</div>
				<div class="form-group form-box">
					{{ render_field(form.confirm_new_password, class_="form-control") }}
				</div>
				<div class="form-group" style="padding-left: 20px;">
					<input type="submit" class="btn btn-primary" value="Change Password">
				</div>
			</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}