{% extends "includes/layout.html" %}

{% block title %}Manage Landlord Properties{% endblock title %}
{% block page_name %}
Manage Landlord Properties
{% endblock page_name %}
{% block content %}
<div class="container pt-5">
    {% from "includes/formhelper.html" import render_field %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#imageModal">
                View Images
            </button>
            
            <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="imageModalLabel">Images</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for image in property.property_images %}
                                <div class="card text-bg-dark">
                                    <img src="{{ url_for('properties_views.property_image_url', filename=image.image_url ) }}" class="card-img" alt="...">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pdfModal">
                View Approval Document
            </button>
            
            <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="pdfModalLabel">Approval Document</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <embed src="{{ url_for('admin.approval_document_url', filename=property.approval_document_url ) }}" width="1080" height="1080" type="application/pdf">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <form action="{{ url_for('admin.manage_approval',property_id=property.property_id) }}" method="post">
                {{ form.csrf_token }}
                {% for field in form %}
                {% if field.type == 'StringField' %}
                <div class="form-group">
                    {{ render_field(field, class_="form-control") }}
                </div>
                {% endif %}
                {% endfor %}
                <div class="form-group text-center pt-3">
                    {{ form.approve_field(class_="btn btn-success") }}
                    {{ form.reject_field(class_="btn btn-danger") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}