{% extends "includes/layout.html" %}

{% block title %}Forget Password{% endblock title %}

{% block page_name %}
Forget Password Request
{% endblock page_name %}

{% block content %}
	{% from "includes/formhelper.html" import render_field %}
	{% if form.errors %}
		{% for field_name, field_errors in form.errors|dictsort if field_errors %}
			{% for error in field_errors %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{{ form[field_name].label }}: {{ error }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endfor %}
		{% endfor %}
	{% endif %}
	<div class="container pt-5">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<form action="{{ url_for('auth.forget_password_request') }}" method="post">
				{{ form.csrf_token }}
				<div class="form-group form-box">
					{{ render_field(form.email, class_="form-control") }}
				</div>
				<div class="form=group text-center">
					<input type="submit" class="btn btn-primary" value="Submit">
				</div>
			</form>
			</div>
		</div>
	</div>
{% endblock content %}