{% extends "includes/layout.html" %}

{% block title %}Forget Password{% endblock title %}

{% block content %}
	{% from "includes/formhelper.html" import render_field %}
	{% if form.errors %}
		{% for field_name, field_errors in form.errors|dictsort if field_errors %}
			{% for error in field_errors %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{{ form[field_name].label }}: {{ error }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endfor %}
		{% endfor %}
	{% endif %}
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
          <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Forget Password</span>
          </a>
        </div>
    </header>
	<div class="row">
		<div class="col-md-8">
			<form action="{{ url_for('views.forget_password_request') }}" method="post">
			  {{ form.csrf_token }}
			  <div class="form-group">
				{{ render_field(form.email, class_="form-control") }}
			  </div>
			  <div>
				<input type="submit" class="btn btn-primary" value="Submit">
			  </div>
		  </form>
		</div>
	</div>
{% endblock content %}