{% extends "includes/layout.html" %}


{% block content %}

<!--        adverts-->
        <div class="div-25">
        <div class="div-26">
        <img src="{{url_for('static', filename='/images/advLogo-1.png') }}" alt="advLogo-1" class="img-12"/>
        <img src="{{url_for('static', filename='/images/advLogo-2.png') }}" alt="advLogo-2" class="img-13"/>
        <img src="{{url_for('static', filename='/images/advLogo-3.png') }}" alt="advLogo-3" class="img-13"/>
        <img src="{{url_for('static', filename='/images/advLogo-4.png') }}" alt="advLogo-4" class="img-13"/>
        <img src="{{url_for('static', filename='/images/advLogo-5.png') }}" alt="advLogo-5" class="img-13"/>
    </div>
</div>

<!--        services we offer-->
        <div class="div-31">
            <div class="div-32">CATEGORY</div>
            <div class="div-33">Services we offer</div>
            <div class="div-34">
                <div class="div-35">
                    <div class="column">
                        <div class="div-41">
                            <!-- <img loading="lazy" srcset="static/assets/hp-tour-guide.png" class="img-14" /> -->
                            <img src="{{url_for('static', filename='/images/hp-tour-guide.png') }}" alt="tour-guide" class="img-14"/>
							<div class="div-37">Fully Furnished</div>
                            <div class="div-38">
                                We go the extra mile to ensure that all our flats are furnished
                                with basic furnitures.
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="div-41">
                            <!-- <img loading="lazy" srcset="static/assets/hp-housekeeping.png" class="img-15 /> -->
							<img src="{{url_for('static', filename='/images/hp-housekeeping.png') }}" alt="housekeeping" class="img-15"/>
                            <div class="div-37">Weekly Housekeeping</div>
                            <div class="div-38">
                                Weekly Housekeeping can be arranged to ensure the tidiness
                                and cleanliness of every flat.
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="div-41">
                            <!-- <img loading="lazy" srcset="static/assets/hp-housekeeping.png" class="img-15 /> -->
                            <img src="{{url_for('static', filename='/images/hp-housekeeping.png') }}" alt="housekeeping" class="img-15"/>
                            <div class="div-37">Flexible monthly contracts</div>
                            <div class="div-38">
                                Book and cancel anytime, to suit your needs.
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="div-41">
                            <!-- <img loading="lazy" srcset="static/assets/hp-housekeeping.png" class="img-15 /> -->
							<img src="{{url_for('static', filename='/images/hp-housekeeping.png') }}" alt="housekeeping" class="img-15"/>
                            <div class="div-37">Regular Maintaince</div>
                            <div class="div-38">
                                Submit a maintaince request anytime and we’ll get it fixed!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="div-51">
            <div class="div-52">
                <div class="div-53">
                    <div class="column-6">
                        <div class="div-54">
                            <img src="{{url_for('static', filename='/images/hp-room.png') }}" class="img-21" />
                            <div class="div-55">
                                <div class="div-56">
                                    <div class="div-57">
                                        <img src="{{url_for('static', filename='/images/hp-calendar.png') }}" class="img-22"/>
                                        <div class="div-58">Earliest Move in: Sep 8</div>
                                    </div>
                                    <div class="div-59">Wallich Residence</div>
                                    <div class="div-60">
                                        <img src="{{url_for('static', filename='/images/hp-location.png') }}" class="img-23"/>
                                        <div class="div-61">Tanjong Pagar</div>
                                    </div>
                                </div>
                                <div class="div-62">
                                    <div class="div-63">Fits 2 pax</div>
                                    <img loading="lazy" srcset="..." class="img-24" />
                                </div>
                            </div>
                            <div class="div-64">
                                <div class="div-65">$ 1,000</div>
                                <div class="div-66">$ 1,200 </div>
                            </div>
                            <div class="div-67">
                                Only four minutes from Tanjong Pagar MRT station, Lumiere
                                condominium is the perfect sanctuary for you to call home if
                                you're looking for a place near the Central Business District.
                                It's only one stop away from Raffles Place MRT. Guoco Tower!
                            </div>
                            <div class="div-68">Book Now</div>
                        </div>
                    </div>
                    <div class="column-7">
                        <div class="div-54">
                            <img src="{{url_for('static', filename='/images/hp-room.png') }}" class="img-21" />
                            <div class="div-55">
                                <div class="div-56">
                                    <div class="div-57">
                                        <img src="{{url_for('static', filename='/images/hp-calendar.png') }}" class="img-22"
                                        />
                                        <div class="div-58">Earliest Move in: Sep 8</div>
                                    </div>
                                    <div class="div-59">Wallich Residence</div>
                                    <div class="div-60">
                                        <img src="{{url_for('static', filename='/images/hp-location.png') }}" class="img-23"
                                        />
                                        <div class="div-61">Tanjong Pagar</div>
                                    </div>
                                </div>
                                <div class="div-62">
                                    <div class="div-63">Fits 2 pax</div>
                                    <img loading="lazy" srcset="..." class="img-24" />
                                </div>
                            </div>
                            <div class="div-64">
                                <div class="div-65">$ 1,000</div>
                                <div class="div-66">$ 1,200 </div>
                            </div>
                            <div class="div-67">
                                You'll definitely feel at home in this cosy and minimalistic
                                apartment. The white walls do not only make the atmosphere of the
                                apartment more calming and relaxing, it also gives the effect of
                                making the apartment look more spacious than it already is.
                            </div>
                            <div class="div-68">Book Now</div>
                        </div>
                    </div>
                    <div class="column-8">
                        <div class="div-54">
                            <img src="{{url_for('static', filename='/images/hp-room.png') }}" class="img-21" />
                            <div class="div-55">
                                <div class="div-56">
                                    <div class="div-57">
                                        <img src="{{url_for('static', filename='/images/hp-calendar.png') }}" class="img-22"
                                        />
                                        <div class="div-58">Earliest Move in: Sep 8</div>
                                    </div>
                                    <div class="div-59">Wallich Residence</div>
                                    <div class="div-60">
                                        <img src="{{url_for('static', filename='/images/hp-location.png') }}" class="img-23"
                                        />
                                        <div class="div-61">Tanjong Pagar</div>
                                    </div>
                                </div>
                                <div class="div-62">
                                    <div class="div-63">Fits 2 pax</div>
                                    <img loading="lazy" srcset="..." class="img-24" />
                                </div>
                            </div>
                            <div class="div-64">
                                <div class="div-65">$ 1,000</div>
                                <div class="div-66">$ 1,200 </div>
                            </div>
                            <div class="div-67">
                                The young downtown area seamlessly blends the imposing
                                skyscrapers with a mix of heritage architecture. In its
                                midst you will find one of Singapore’s most popular hawker
                                centres, Lau Pa Sat
                            </div>
                            <div class="div-68">Book Now</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


{% endblock content %}


<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

