{% extends "includes/layout.html" %}

{% block title %}
	<title>home page</title>
{% endblock title %}

{% block content %}
    <!-- Include the Google Maps API library -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0OhAg0vn0jn6qa19YHfq1bpaKcr16VtY&libraries=places&callback=initMap" async defer></script>
    <style>
        #map-container {
            width: 45%;
            height: 90vh;
            float: left;
        }

        #content-container {
            width: 40%;
            height: 100vh;
            overflow: auto;
        }
    </style>
	<body>
        <div id="map-container"></div>
        <div id="content-container">
            <!-- Add your content here -->
            <h1>My home</h1>
            <p>Filters</p>
        </div>
        <script>
            // This function will be called when the Google Maps API is loaded
            function initMap() {
    
                // Get latitude and longitude from Flask template variables
                var latitude = {{ latitude }};
                var longitude = {{ longitude }};
    
                
                var map = new google.maps.Map(document.getElementById('map-container'), {
                    center: { lat: latitude, lng: longitude},
                    zoom: 14
                });
    
                // Create a marker at the specified location
                var marker = new google.maps.Marker({
                    position: { lat: latitude, lng: longitude },
                    map: map,
                    title: 'property' // Set a title for the marker
                }); 
            }
        </script>
        <!-- Call the initMap function to initialize the map -->
        <script>
            initMap();
        </script>
    </body>
{% endblock content %}