{% extends "includes/layout.html" %}
 
{% block title %}
Home
{% endblock title %}

{% block head_block %}
<!-- <style>
    .card {
        border-radius: 36px;
        box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
        0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
        0px 20px 13px 0px rgba(0, 0, 0, 0.01),
        0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
        0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
        0px 100px 80px 0px rgba(0, 0, 0, 0.02);
        padding: 10px;
    }
</style> -->
{% endblock head_block %}
{% block page_name %}
Home
{% endblock page_name %}
{% block content %}
<div class="container">
    <!--        adverts-->
    <div class="row align-items-center" style="height: 100px;">
        <div class="col-1"></div>
        <div class="col-2">
            <img src="{{url_for('static', filename='/images/advLogo-1.png') }}" alt="advLogo-1" class="img-fluid"/>
        </div>
        
        <div class="col-2">
            <img src="{{url_for('static', filename='/images/advLogo-2.png') }}" alt="advLogo-2" class="img-fluid"/>
        </div>
        
        <div class="col-2">
            <img src="{{url_for('static', filename='/images/advLogo-3.png') }}" alt="advLogo-3" class="img-fluid"/>
        </div>
        
        <div class="col-2">
            <img src="{{url_for('static', filename='/images/advLogo-4.png') }}" alt="advLogo-4" class="img-fluid"/>
        </div>
        
        <div class="col-2">
            <img src="{{url_for('static', filename='/images/advLogo-5.png') }}" alt="advLogo-5" class="img-fluid"/>
        </div>
        <div class="col-1"></div>
    </div>
    <hr/>
    <!--services we offer-->
    <div class="row text-center pb-5 pt-5">
        <h5 style="color: #df6951;">CATEGORY</h5>
        <h1>Services we offer</h1>
    </div>
    <div class="row text-center pb-5">
        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img src="{{url_for('static', filename='/images/hp-tour-guide.png') }}" class="card-img-top" style="width:87px;align-self: center; padding-top:5px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fully Furnished</h5>
                    <p class="card-text">We go the extra mile to ensure that all our flats are furnished with basic furnitures.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img src="{{url_for('static', filename='/images/hp-housekeeping.png') }}" class="card-img-top" style="width:87px;align-self: center; padding-top:5px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Weekly Housekeeping</h5>
                    <p class="card-text">Weekly Housekeeping can be arranged to ensure the tidiness and cleanliness of every flat.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img src="{{url_for('static', filename='/images/hp-contract.png') }}" class="card-img-top" style="width:87px;align-self: center; padding-top:5px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Flexible monthly contracts</h5>
                    <p class="card-text">Book and cancel anytime, to suit your needs.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img src="{{url_for('static', filename='/images/hp-maintainance.png') }}" class="card-img-top" style="width:87px;align-self: center; padding-top:5px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Regular Maintaince</h5>
                    <p class="card-text">Submit a maintaince request anytime and we’ll get it fixed!</p>
                </div>
            </div>
        </div>
    </div>
    {% if latest_properties %}
    <hr/>
    <div class="row text-center pb-5 align-content-center">
        {% for property in latest_properties %}
        <div class="col-lg-4 mb-3 d-flex align-items-stretch content">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('properties_views.property_image_url', filename=property.property_images[0].image_url) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{property.property_name}}</h5>
                    <p class="card-text">{{property.block}} {{ property.street_name }} {% if property.building != 'NIL' %}
                        {{ property.building }}
                    {% endif %}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rent: ${{ property.monthly_rent }}/month</li>
                    <li class="list-group-item">Listed on {{ property.rent_approval_date.strftime("%d/%m/%Y") }}</li>
                    <!-- <li class="list-group-item">A third item</li> -->
                </ul>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{{ url_for('properties_views.map_page_info',property_id=property.property_id) }}">View More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock content %}

