{% extends "includes/layout.html" %}

{% block title %}Register{% endblock title %}

{% block content %}
  {% from "includes/formhelper.html" import render_field %}
    {% if form.errors %}
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ form[field_name].label }}: {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        {% endfor %}
  {% endif %}
  <div class="row">
      <div class="col-md-8">
          <form action="{{ url_for('auth.register_account') }}" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
              {{ render_field(form.first_name, class_="form-control") }}
            </div>
            <div class="form-group">
              {{ render_field(form.last_name, class_="form-control") }}
            </div>
            <div class="form-group">
              {{ render_field(form.email, class_="form-control") }}
            </div>
            <div class="form-group">
              {{ render_field(form.password, class_="form-control") }}
            </div>
            <div class="form-group">
              {{ render_field(form.confirm_password, class_="form-control") }}
            </div>
            <div class="form-group">
              {{ render_field(form.register_as, class_="form-control form-select") }}
            </div>
            <div>
              <input type="submit" class="btn btn-primary" value="Register">
            </div>
        </form>
      </div>
  </div>
{% endblock content %}

{% block bottomScript %}
<!--<script src='https://www.google.com/recaptcha/api.js' async defer></script>-->
{% endblock bottomScript %}