.form-box {
    border-radius: 5.784px;
    border: 0.578px solid #000;
    padding:20px;
    margin:20px;
}
/* nav {
    background-color:#df6951;
} */

.nav-item
{
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight:300;
    padding-left: 10px;
}

.nav-link {
    color: #fff;
}

.nav-button {
    background-color: #df6951;
    border-radius: 20px;
    padding: 17px!important;
    margin: 10px;
    color: #fff;
    font-size: 20px;
}

.header-text {
    color: #fff;
    backdrop-filter: blur(1px);
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-weight: 300;
}
.querymapflex{
    display:flex;
}
.querymapflex2{
    display: inline-block;
    align-self: flex-end;
    padding-left:20px;
}
.form-group{
    font-weight:bold;
}
.btn-primary{
    background-color:#df6951;
    border-color: #df6951;;
}
.button_padding{
    padding-left: 20px;
}